.main {
	min-height: 100%;
	background: #9542f7;
	position: relative;
	padding: 0;
	display: block;
}

.Header {
	background: #9542f7;
}

.Panel__in {
	height: 100%;
}

.Div-top {
	height: 25%;
	display: block;
	position: relative;
	width: -moz-available;
	text-align: center;
	color: white
}
.Button-top {
	margin-top: 5%;
	width: 50%;
	height: 25%;
	margin-left: 25%;
	margin-right: 25%;
	font-weight: bolder;
	color: #9542f7;
	border-radius: 50px;
}

.Div-mid {
	height: 50%;

	position: relative;
	width: -moz-available;
	display: block;
	text-align: justify;
}

.Div-bottom {
	position: relative;
	bottom: 2%;
	height: 25%;
	width: -moz-available;
	display: block;
	text-align: justify;
}
.Div-bottom button {
	margin-top: 5%;
	width: 70%;
	height: 25%;
	margin-left: 15%;
	margin-right: 15%;
	border-radius: 50px;
}

.Div-bottom .top {
	background: linear-gradient(to right, #bd8a4d, #efcb84);
	font-weight: bold;
	color: white;
}
.Div-bottom .bottom {
	background: #9542f7;
	font-weight: bold;
	border-color: #efcb84;
	color:  #efcb84;
}

.Persik {
  display: block;
  width: 30%;
  max-width: 240px;
  margin: 20px auto;
}


